/* Pestañas */
.tabs{
  display:flex;
  gap:1rem;
  margin:1.5rem 0;
  flex-wrap:wrap;
}
.tabs button{
  padding:0.5rem 1rem;
  cursor:pointer;
  border-radius:10px;
  border:2px solid #E9E9E9;
  background:#E9E9E9;
  color:#666;
  font-size:0.9rem;
  transition:border-color 0.2s, box-shadow 0.2s, background 0.2s;
}
.tabs button:hover{
  border-color:#FF4400;
}
.tabs button.activa{
  background:#FF4400;
  color:white;
  border-color:#FF4400;
}
/* Card principal */
.card{
  background:white;
  margin-bottom: 10px;
  border-radius:12px;
  border:1px solid #ddd;
  overflow:hidden;
  transition:transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover{
  transform:translateY(-3px);
  box-shadow:0 8px 20px rgba(0,0,0,0.12);
}
/* Cabecera */
.card-header{
  height:80px;
  background:#FF4400;
  display:flex;
  align-items:center;
  gap:1rem;
  padding:0 1.5rem;
  color:white;
}
.avatar{
  width:50px;
  height:50px;
  border-radius:50%;
  background:white;
  flex-shrink:0;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* Nombre */
.info h3 {
  margin: 0;
  font-size: 1.1rem;
}
/* Edad + Motivación */
.info span {
  font-size: 0.85rem;
  padding: 3px 10px;  
  background: #cc3700;
  color: white;
  border-radius: 10px;
  margin-top: 4px;
  text-align: left;
}
/* Cuerpo */
.card-body {
  padding: 1.5rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.box strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}
.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.box ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.3;
}
/* Objetivos*/
.box.objetivos strong,
.box.objetivos ul li::before {
  color: #00ff55;
}
.box.objetivos ul li::before {
  content: "✔ "; 
}
/* Frustraciones*/
.box.frustraciones strong,
.box.frustraciones ul li::before {
  color: #f92020;
}
.box.frustraciones ul li::before {
  content: "✖ ";
}
/* Comportamiento:*/
.box.comportamiento strong,
.box.comportamiento ul li::before {
  color: #284aa7;
}
.box.comportamiento ul li::before {
  content: "➼ ";
}
/* Uso de tecnología */
.box.uso-tecnologia strong,
.box.uso-tecnologia ul li::before {
  color: #6f42c1; 
}
.box.uso-tecnologia ul li::before {
  content: "# "; 
}
