<footer class="footer">

  <div class="container footer-container">

    <div class="footer-left">
      <p class="footer-group">Grupo <strong>Angular Force</strong></p>
      <p>FP.067 - (P) Desarrollo front-end con frameworks en entornos móviles</p>
    </div>

    <div class="footer-center">
      <p>Jesuïtes Educació - UOC</p>
      <p>Consultor: José Antonio Ramírez Ramírez</p>
    </div>

    <div class="footer-right">
      <p>EQUIPO BASKET</p>
      <p>© {{year}}</p>
    </div>

  </div>

</footer>